/* 여기에 스타일을 구현해 주세요 */
.group {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  /* margin:0 화면 가운데 정렬 */
  /* float를 인식하기 위해 overflow를 사용 */
}
.avatarsImageBox {
  float: left;
  width: 64px;
  height: 64px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  /* float 옆으로 배치 */
  /* 포지션-relative 할 시 포지션-absolute 부분과 함께 붙는다.  */
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid;
  color: white;
  font-size: 0;
  /* 글자를 숨기고 싶을 때! 폰트사이즈 0으로 */
}
.status-online {
  background-color: #4cfe88;
}
.status-offline {
  background-color: #dbdbdb;
}
